@use '@/styles/variables';
@use '@/styles/mixins';

.button {
	cursor: pointer;
	border: none;
	transition: color 0.3s ease, background-color 0.3s ease;

	@media (max-width: variables.$sm) {
		font-size: 1rem;
	}
}

.infoButton {
	@include mixins.info-button;
}

.extraButton {
	@include mixins.extra-button;
}
