@use '@/styles/mixins';
@import '@/styles/variables';

.items {
	display: flex;
	margin: 6.25rem auto 0;
	padding: 0 1.58rem;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1.4625vw 0.9625vw;

	@include mixins.tablet {
		padding: 0;
		justify-content: center;
		column-gap: 1.95vw;
		row-gap: 3.13vw;
	}

	@include mixins.mobile {
		margin-top: 3.13rem;
		column-gap: 2.77vw;
		row-gap: 5vw;
	}
}
