@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.info {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-top: 0;
	color: $color-white;
	background-image: url('/images/header-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&Wrapper {
		display: flex;
		padding-top: 4.5rem;
		flex-direction: column;
		align-items: center;
	}

	&Title {
		@media (max-width: $sm) {
			max-width: 360px;
		}
	}

	&Subtitle {
		max-width: 610px;
		margin-top: 3.13rem;
		color: $color-white;

		@media (max-width: $lg) {
			max-width: 450px;
		}

		@media (max-width: $sm) {
			max-width: 310px;
			margin-top: 2.5rem;
		}
	}
}
