.footer {
  margin-top: 135px;
  padding: 1.88rem 0;
  background-color: $color-beige-200;

  @include mobile {
    margin-top: 4.69rem;
    padding: 1.25rem 0;
  }
}

.title {
  color: $color-gray-300;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: $md) {
    justify-content: center;
    flex-direction: column;
    gap: 0.44rem;
  }
}
