@use '@/styles/variables';
@use '@/styles/mixins';

.input {
	@include mixins.input;

	&[type='date'] {
		text-transform: uppercase;
	}

	&[type='number']::-webkit-outer-spin-button,
	&[type='number']::-webkit-inner-spin-button {
		margin: 0;
		-webkit-appearance: none;
	}
}

.incorrect {
	color: variables.$color-gray-300;
}

.hiddenInput {
	display: none;
}
