.items {
  display: flex;
  justify-content: center;
  gap: 1.88rem;
  margin-top: 6.25rem;

  @include tablet {
    gap: 1.13rem;
  }

  @media (max-width: $md) {
    flex-direction: column;
    align-items: center;
  }

  @include mobile {
    margin-top: 3.13rem;
    gap: 1.13rem;
  }
}
