.wrapper {
	position: relative;
}

.select {
	width: 100%;
	color: $color-black;
	border: none;
	appearance: none;
	cursor: pointer;
	
	@include input;

	&:focus {
		background-color: $color-beige-100;
		border: none;
	}

	&:invalid:not(:focus) {
		color: gray;
	}

	.default {
		color: gray;
	}
}

.arrowBottom {
	position: absolute;
	top: 29px;
	right: 20px;
	z-index: 5;

	@include mobile {
		top: 15px;
		right: 14px;
	}
}
