@use '@/styles/variables';
@use '@/styles/mixins';

.wrapper {
	position: relative;
}

.select {
	@include mixins.input;
	width: 100%;
	color: variables.$color-black;
	border: none;
	appearance: none;
	cursor: pointer;

	&:focus {
		background-color: variables.$color-beige-100;
		border: none;
	}

	&:invalid:not(:focus) {
		color: gray;
	}

	.default {
		color: gray;
	}
}

.arrowBottom {
	position: absolute;
	top: 29px;
	right: 20px;
	z-index: 5;

	@include mixins.mobile {
		top: 15px;
		right: 14px;
	}
}
