.cards {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(2, 533px);
  gap: 1.88rem;
  margin-top: 6.25rem;

  @include tablet-l {
    grid-template-columns: repeat(2, minmax(450px, 1fr));
    grid-template-rows: repeat(3, 533px);
    place-content: center;
    gap: 1.13rem;
  }

  @media (max-width: $md) {
    display: flex;
    flex-direction: column;
  }

  @include mobile {
    margin-top: 3.13rem;
  }
}
