@import 'variables';
@import 'mixins';

* {
	@include reset;
}

body {
	font-family: $primary-font;

	background-color: $color-beige-100;

	scroll-behavior: smooth;
}

textarea,
button {
	font-family: inherit;
}

section {
	margin-top: 8.44rem;

	@media (max-width: $sm) {
		margin-top: 4.69rem;
	}
}

li {
	@include list-reset;
}

a {
	@include link-reset;
}

.title {
	@include title;
}

.subtitle {
	@include subtitle;
}

.normal,
.small {
	font-weight: 400;
	line-height: 1.42;
}

.big {
	font-weight: 700;
	font-size: 1.44rem;
	line-height: 1.22;

	@include p-mobile;
}

.normal {
	font-size: 20px;

	@include p-mobile;
}

.small {
	font-size: 1.06rem;
	letter-spacing: -0.01em;

	@include p-mobile;
}

.container {
	@include container(1170px, 55px);

	@media (max-width: $lg) {
		@include container(1170px, 53px);
	}

	@media (max-width: $sm) {
		@include container(1170px, 21px);
	}
}

.main {
	position: static;
	z-index: 5;
}
