@use 'reset';
@use 'variables';
@use 'mixins';

body {
	font-family: variables.$primary-font;
	background-color: variables.$color-beige-100;
	scroll-behavior: smooth;
}

textarea,
button {
	font-family: inherit;
}

section {
	margin-top: 8.44rem;

	@include mixins.mobile {
		margin-top: 4.69rem;
	}
}


.main {
	position: static;
	z-index: 5;
}
