@use 'variables';

@mixin p-mobile {
	@media (max-width: variables.$sm) {
		font-size: 1rem;
		line-height: 1.42;
	}
}

@mixin container($width, $padding) {
	max-width: calc($width + $padding * 2);
	margin: 0 auto;
	padding: 0 $padding;
}

@mixin title {
	text-align: center;
}

@mixin subtitle {
	max-width: 450px;
	margin: 1.88rem auto 0;

	text-align: center;

	color: variables.$color-gray-300;

	@media (max-width: variables.$sm) {
		margin-top: 1.25rem;
	}
}

@mixin info-button {
	margin-top: 3.13rem;
	padding: 5px 20px;
	font-size: 1.06rem;
	line-height: 1.42;
	font-weight: normal;
	letter-spacing: -0.01em;
	color: variables.$color-black;
	background-color: variables.$color-white;
	border-radius: 10px;

	&:hover {
		color: variables.$color-white;
		background-color: variables.$color-orange-200;
	}

	&:active {
		color: variables.$color-black;
		background-color: variables.$color-orange-100;
	}

	@media (max-width: variables.$sm) {
		margin-top: 2.5rem;
	}
}

@mixin extra-button {
	padding: 7px 60px 7px 20px;
	font-weight: 700;
	font-size: 1.44rem;
	line-height: 1.21;
	color: variables.$color-white;
	background-color: transparent;
	border-radius: 50px;

	@media (max-width: variables.$sm) {
		line-height: 1.42;
	}

	&::after {
		content: '';
		position: absolute;
		top: 13px;
		right: 22px;
		width: 24px;
		height: 26px;
		background-image: url('/icons/arrow-right.svg');
		background-repeat: no-repeat;

		@media (max-width: variables.$sm) {
			top: 10px;
		}
	}
}
