@use 'variables';

@mixin hover {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}

	@media (hover: none) {
		&:active {
			@content;
		}
	}
}

@mixin p-mobile {
	@media (max-width: variables.$sm) {
		font-size: 1rem;
		line-height: 1.42;
	}
}

@mixin container($width, $padding) {
	max-width: calc($width + $padding * 2);
	margin: 0 auto;
	padding: 0 $padding;
}

@mixin underlined($color) {
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 1px;
		background-color: $color;
		opacity: 0;
		transition: width 0.3s ease, opacity 0.3s ease;
	}

	@include hover {
		&::before {
			width: 100%;
			opacity: 1;
		}
	}
}

@mixin centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin mobile {
	@media (max-width: variables.$sm) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: variables.$lg) {
		@content;
	}
}

@mixin tablet-l {
	@media (max-width: variables.$xl) {
		@content;
	}
}

@mixin input {
	padding: 1.25rem;
	font-size: 1.25rem;
	line-height: 1.42;
	font-family: inherit;
	color: variables.$color-black;
	background-color: variables.$color-beige-100;
	border: 1px solid variables.$color-beige-200;
	border-radius: 10px;
	outline: none;

	@include mobile {
		padding: 0.63rem;
		font-size: 1rem;
	}

	@include hover {
		background-color: variables.$color-beige-200;
	}

	&:focus {
		background-color: variables.$color-beige-200;
		border: 1px solid variables.$color-gray-300;
	}

	&::placeholder {
		font-size: 1.25rem;
		line-height: 1.42;
		color: variables.$color-gray-300;

		@include mobile {
			font-size: 1rem;
		}
	}
}
