@use 'variables';

@mixin p-mobile {
	@media (max-width: variables.$sm) {
		font-size: 1rem;
		line-height: 1.42;
	}
}

@mixin container($width, $padding) {
	max-width: calc($width + $padding * 2);
	margin: 0 auto;
	padding: 0 $padding;
}

@mixin underlined($color) {
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 1px;
		background-color: $color;
		opacity: 0;
		transition: width 0.3s ease, opacity 0.3s ease;
	}

	&:hover::before {
		width: 100%;
		opacity: 1;
	}
}

@mixin mobile {
	@media (max-width: variables.$sm) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: variables.$lg) {
		@content;
	}
}
