$sm: 768px;
$md: 980px;
$lg: 1024px;
$xl: 1280px;

$color-black: #1b1f2b;
$color-white: #ffffff;

$color-orange-200: #efa501;
$color-orange-100: #f8e6be;

$color-green-400: #286562;
$color-green-300: #3b7e7b;
$color-green-200: #627f7e;
$color-green-100: #e0f0e5;

$color-gray-300: #a6a6a6;
$color-gray-200: #d9dfdb;
$color-gray-100: #f1f3f2;

$color-beige-200: #f4f0e9;
$color-beige-100: #f9f7f4;

$primary-font: 'Roboto', "Arial", sans-serif;

$main-transition: all 0.3s ease;
