.card {
  position: relative;
  z-index: 5;
  padding: 3.56rem 3.13rem;
  color: $color-white;
  transition: background-color 0.3s ease;
  cursor: pointer;

  @include hover {
    .button {
      background-color: $color-green-400;
    }

    .image {
      transform: scale(1.2);
    }
  }

  &:active .button {
    background-color: $color-orange-200;
  }

  @media (max-width: $md) {
    height: 530px;
  }

  @include mobile {
    width: 100%;
    height: 318px;
    padding: 1.56rem;
  }
}

.title {
  @media (min-width: $xl) {
    max-width: 90%;
  }
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 50px;
  overflow: hidden;

  @include mobile {
    border-radius: 20px;
  }
}

.image {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
  object-position: left center;
  transition: transform 0.3s ease;

  @include mobile {
    border-radius: 20px;
  }
}

.content,
.button {
  position: inherit;
  z-index: 2;
}

.price {
  margin-top: 1rem;

  @include mobile {
    margin-top: 0.81rem;
  }
}

.button {
  position: absolute;
  bottom: 40px;
  left: 30px;
  padding: 7px 62px 6px 19px;
  font-size: 1.38rem;

  @include mobile {
    left: 6px;
    bottom: 18px;
    font-size: 0.9rem;
    line-height: 1.56rem;
  }
}
