@use '@/styles/variables';
@use '@/styles/mixins';

.card {
	cursor: pointer;
	position: relative;
	z-index: 5;
	padding: 3.56rem 3.13rem;
	color: variables.$color-white;
	transition: background-color 0.3s ease;

	@include mixins.hover {
		.button {
			background-color: variables.$color-green-400;
		}

		.image {
			transform: scale(1.2);
		}
	}

	&:active .button {
		background-color: variables.$color-orange-200;
	}

	@media (max-width: variables.$md) {
		height: 530px;
	}

	@include mixins.mobile {
		width: 100%;
		height: 318px;
		padding: 1.56rem;
	}
}

.title {
	@media (min-width: variables.$xl) {
		max-width: 90%;
	}
}

.imageWrapper {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		360deg,
		rgba(0, 0, 0, 0.4) 0%,
		rgba(0, 0, 0, 0.06) 48.44%,
		rgba(0, 0, 0, 0.5) 100%
	);
	border-radius: 50px;
	overflow: hidden;

	@include mixins.mobile {
		border-radius: 20px;
	}
}

.image {
	position: absolute;
	inset: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50px;
	object-fit: cover;
	object-position: left center;
	transition: transform 0.3s ease;

	@include mixins.mobile {
		border-radius: 20px;
	}
}

.content,
.button {
	position: inherit;
	z-index: 2;
}

.price {
	margin-top: 1rem;

	@include mixins.mobile {
		margin-top: 0.81rem;
	}
}

.button {
	position: absolute;
	left: 30px;
	bottom: 40px;

	padding: 7px 62px 6px 19px;

	font-size: 1.38rem;

	@include mixins.mobile {
		left: 6px;
		bottom: 18px;

		font-size: 0.9rem;
		line-height: 1.56rem;
	}
}
