@use '@/styles/variables';
@use '@/styles/mixins';


.h1,
.h2 {
	font-weight: 700;
}

.h1 {
	font-size: 6rem;
	line-height: 1.09;
	letter-spacing: 0.02em;

	@media (max-width: variables.$sm) {
		font-size: 2.13rem;
		line-height: 1.12;
	}
}

.h2 {
	font-size: 3.69rem;
	line-height: 1.24;

	@media (max-width: variables.$sm) {
		font-size: 2.13rem;
		line-height: 1.12;
	}
}

.h3 {
	font-weight: 500;
	font-size: 2.19rem;
	line-height: 1.22;

	@media (max-width: variables.$sm) {
		font-size: 1.44rem;
		line-height: 1.2;
		letter-spacing: 0.04em;
	}
}