@use '@/styles/mixins';

.tabs {
	display: flex;
	margin-top: 2.19rem;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.88rem;

	@include mixins.mobile {
		margin-top: 1.88rem;
		gap: 0.63rem;
	}
}
