@use '@/styles/mixins';
@use '@/styles/variables';

.nav {
	&MenuList {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3.13rem;

		@media (max-width: variables.$lg) {
			gap: 1.88rem;
		}

		@media (max-width: variables.$md) {
			display: none;
		}
	}

	&MenuPhone::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 1px;
		background-color: variables.$color-white;
		opacity: 0;
		transition: width 0.3s ease, opacity 0.3s ease;
	}

	&MenuPhone {
		position: relative;

		&Fixed::before {
			background-color: variables.$color-black;
		}

		@media (max-width: variables.$sm) {
			font-size: 1rem;
		}
	}

	&MenuPhone:hover::before {
		width: 100%;
		opacity: 1;
	}
}
