.nav {
  &MenuList {
    @include centered;

    gap: 3.13rem;

    @include tablet {
      gap: 1.88rem;
    }

    @media (max-width: $md) {
      display: none;
    }
  }

  &MenuPhone {
    position: relative;

    @include underlined($color-white);

    &Fixed::before {
      background-color: $color-black;
    }

    @include mobile {
      font-size: 1rem;
    }
  }
}
